@use 'variables' as *;

// .icon {
//     clip-path: circle(50%);
// }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    padding: 15px 40px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    

    .header__title {
        font-size: $h1-normal;
        font-weight: 700;
        text-align: left;
        margin-right: 0.9375rem;
}

    .nav {
    display: flex;
    align-items: center;
    gap: 1.875rem;
    text-align: right;
    font-size: $h2-normal;
    font-weight: 400;

}

    a:link {
        color: black;
        text-decoration: none;
        transition: 0.1s ease;
    }

    a:visited {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #0077ff;
        text-decoration: none;
    }

    .button-circle {
        text-align: center;
        background: #EAEDF1;
        width: 30px;
        height: 40px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        transition: background-color 0.2 ease;

        .themeToggle {
            width:20px;
            height:20px;
            stroke:black;
            stroke-width:1.7;
            fill:none;
            transition: stroke 0.2s ease;
            
            .button-circle:hover & {
                stroke: #0077ff;
            }
        }
    }
}

.main {
    font-family: 'Inter', serif;
    display: block;
    align-items: center;
    justify-content: space-between;
    white-space: wrap;
    padding: 15px 40px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    .main__title {
        font-size: $h2-normal;
        font-weight: 700;
        text-align: left;
        margin-right: 15px;
    }

    .form-style {

        .search-input {
            font-family: 'Inter', serif;
            border: none;
            border-radius: $b-radius;
            padding: 5px 60px;
            text-align: left;
            font-size: 16px;
            color: #0E141B;
            font-weight: 500;
            width: 100%;
            margin-top: 4px;
            background-color: #E7EDF3;
            padding-left: 47px; // отступ под иконку
            height: 40px;
            outline: none;

            &:active {
                border: none;
                border: #E7EDF3;
            }

            &::placeholder {
                color: #4E7097;
                margin-right: 55px;
            }


        }
    }

    .search-box {
        border: none;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .search-icon {
        position: absolute;
        left: 15px;
        bottom: 14px;
        width: 24px;
        height: 24px;
        fill: #4E7097;
    }

}

footer {
    font-size: 1rem;
    text-align: center;
    color: #4E7097;
    margin: 70px 0 50px 0;

    a:link {
        color: #0077ff;
        text-decoration: none;
        transition: 0.1s ease;
    }

    a:visited {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #0077ff;
        text-decoration:underline;
    }
}



/* 2 developers.html 2 */
.main2 {
    font-family: 'Inter', serif;
    display: block;
    align-items: center;
    justify-content: space-between;
    white-space: wrap;
    padding: 10px 40px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;

    .main__title2 {
        font-size: 12px;
        text-align: left;
        margin-right: 15px;
    }

    .podtext {
        font-size: 17px;
        text-align: left;
        line-height: 1.5;
    }

    .step1 {
        margin-top: 30px;
        font-size: 1.125rem;
    }

    .podtext2 {
        font-size: 0.875rem;
        text-align: left;
        line-height: 1.5;
    }

    // .step2 {

    // }



    // .form-style {

    //     .search-input {
    //         font-family: 'Inter', serif;
    //         border: none;
    //         border-radius: $b-radius;
    //         padding: 5px 60px;
    //         text-align: left;
    //         font-size: 16px;
    //         color: #0E141B;
    //         font-weight: 500;
    //         width: 100%;
    //         margin-top: 4px;
    //         background-color: #E7EDF3;
    //         padding-left: 47px; // отступ под иконку
    //         height: 40px;
    //         outline: none;

    //         &:active {
    //             border: none;
    //             border: #E7EDF3;
    //         }

    //         &::placeholder {
    //             color: #4E7097;
    //             margin-right: 55px;
    //         }


    //     }
    // }
}

/* Блок кнопок */
.btn-block {
    display: flex;
    text-align: center;
    gap: 0.625rem;
    flex-direction: column;
    margin: 0 auto;

    h3 {
        font-size: 1.125rem;
    }

    .btn-tariff {
        background-color: #E7EDF3;
        color: black;
        padding: 0.9375rem 1.25rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.75rem;
        font-family: 'Inter', serif;
        cursor: pointer;

        &:hover {
            background-color: #D0DBE7;
            transition: 0.2s ease;
        }

        &.active {
            background-color: #1978E5;
            color: white;
            transition: 0.2s ease;
        }
    }
}

/* Блок Email-Submit */
.block-submit {
    display: flex;
    text-align: center;
    gap: 0.625rem;
    flex-direction: column;

    h3 {
        font-size: 1.125rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .input-wrapper {
    position: relative;
    display: flex;
    text-align: center;
    gap: 0.625rem;
    flex-direction: column;

    & i {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #4E7097;
        font-size: 1.0625rem;
        font-weight: 1000;
    }

    .input-email {
    padding: 0.9375rem 1.3125rem;
    background-color: #E7EDF3;
    color: black;
    border: none;
    border-radius: 0.75rem;
    font-family: 'Inter', serif;
    font-size: 1.0625rem;
    padding-left: 2.8125em;

    &::placeholder {
        color: #4E7097;
        font-size: 1rem;
    }
}
}

    .btn-submit {
    background-color: #A0ABC3;
    color: white;
    padding: 0.9375rem 1.3125em;
    font-size: 1rem;
    border: none;
    border-radius: 0.75em;
    font-family: 'Inter', serif;
    cursor: not-allowed;

    &.active {
        background-color: #07883B;
        color: white;
        cursor: pointer;
        transition: 0.2s ease;
    }
}
}

.btn-orig-site {
    display: inline-block;
    width: 25%;
    padding: 0.625rem;
    text-align: center;
    background-color: #E7EDF3;
    border-radius: 1.25rem;
    text-decoration: none;
    color: black;
    font-size: $h2-normal;

    :visited {
        color: black;
    }
}

.api-benefits {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;

    .container-svg {
        background-color: #E7EDF3;
        padding: 0.6250rem;
        border-radius: 0.5000rem;
    }

    .api-item {
    display: inline-block;
    font-size: 1rem;
    margin-left: 15px;
}
}


/* 3 check-rate.html 3 */
.main__title3 p {
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.5;
}

.main__title3 .pic-balance {
    border-radius: 10px;
    margin-top: 15px;
}

/* 4 donate.html 4 */
.main__title4 h2 {
    font-size: 18px;
    margin-top: 25px;
}

.main__title4 a {
    color: black;
    
    a:visited & {
        color: black;
    }
}

.main__title4 span {
    display: inline-block;
    margin-top: 15px; 
    background-color: #E7EDF3; 
    border-radius: 24px; 
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
}

.container-input {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100%;
    margin-top: 25px;
}

.container-input .eth-input {
    padding: 20px 15px;
    width: min(100%, 420px);
    font-family: 'Inter', system-ui;
    font-size: 1rem;
    background-color: $input-color;
    color: #242424;
    border: $input-border;
    border-radius: $input-border-radius;
}

.container-icon {
    display: inline;
    position: relative;
    color: #617781;
    cursor: pointer;

    & i {
        position: absolute;
        top: 20px;
        left: 415px;
        font-size: 1.250rem;
    }
}

// .container-input .svg-icon {
//     position: absolute;
//     top: 50px;
// }