// Header
$logo-text: #0f0f0f;
$logo-text-weight: 500;

// Body
$bg-light: #F8FAFC;
$bg-dark: #14191F;

// Размеры текстов
$h1-normal: 18px;
$h2-normal: 14px;

// Раздел. линия
$hr-border-top: 1px solid #d8d8d8;

// Border
$b-radius: 12px;