@use 'variables' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: $bg-light;
    margin: 20px;
    padding: 0px;
    margin: auto;
    font-family: 'Inter', serif;
}

hr {
    border: none;
    border-top: $hr-border-top;
    width: 100%;
}

.container {
    display: flex;
    margin-top: 25px;
    padding: 0;
    gap: 15px;

    .btn-rate {
        background-color: #E7EDF3;
        width: 70px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        font-family: 'Inter', serif;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: #D0DBE7;
            transition: 0.2s ease;
        }
    }

    .btn-rate.active {
    background-color: #1978E5;
    color: white;
    transition: 0.2 ease;
}
}

.container-rate {
    display: block;
    max-height: 500px;
    margin-top: 40px;
    padding: 10px;
    background-color: $bg-light;
    border: 2px solid #E7EDF3;
    border-radius: 20px;

    .text-rate {
        padding-left: 17px;
        font-family: 'Inter', serif;
        font-size: 1rem;
        font-weight: 500;
    }

    .number-rate {
        padding-left: 17px;
        margin-top: -5px;
        font-size: 32px;
        font-weight: 700;
    }
}

// #currency-section {
//   max-width: 800px;
//   margin: 40px auto;
//   padding: 20px;
//   background: #fff;
//   border-radius: 12px;
//   box-shadow: 0 3px 8px rgba(0,0,0,0.05);
// }

#currency-section p {
  text-align: center;
  color: #4e7097;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 950px;
}

.update-info {
    display: block;
    margin-top: 35px;
    color: #4E7097;
    font-size: 14px;
}