@use 'variables' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: $bg-light;
    margin: 20px;
    padding: 0px;
    margin: auto;
    font-family: 'Inter', serif;
}

hr {
    border: none;
    border-top: $hr-border-top;
    width: 100%;
}



