@use 'variables' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: $bg-light;
    margin: 20px;
    padding: 0px;
    margin: auto;
    font-family: 'Inter', serif;
}

hr {
    border: none;
    border-top: $hr-border-top;
    width: 100%;
}

.container {
    display: flex;
    margin-top: 25px;
    padding: 0;
    gap: 15px;

    .btn-rate {
        background-color: #E7EDF3;
        width: 70px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        font-family: 'Inter', serif;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            background-color: #D0DBE7;
            transition: 0.2s ease;
        }
    }
}

.container-rate {
    display: block;
    margin-top: 40px;
    padding: 10px;
    background-color: $bg-light;
    border: 2px solid #E7EDF3;
    border-radius: 20px;

    .text-rate {
        padding-left: 17px;
        font-family: 'Inter', serif;
        
    }

    .number-rate {
        padding-left: 17px;
        margin-top: -5px;
        font-weight: 800;
    }
}